# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Secrets
.env

# Data & Database
temp_uploads/
local_faiss_index/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Angular
**/node_modules/
**/dist/
.angular/
